.icon-wrapper {
  padding-right: 12px;
  color: grey;
  background-color: #fff;
  transition: 250ms all ease-in-out;
  cursor: pointer;
}
.icon-wrapper:hover {
  color: #000;
}
app-todo-input {
  width: 100%;
}
